.app__popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
.app__popup.show {
  display: block;
}
.app__btn {
  width: 70px;
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 2px #00000004;
  outline: 0;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  cursor: pointer;
}
.app__text {
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px #00000004;
  font-size: 12px;
}
