.app__popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 9999;
}
.app__popup.show {
  display: block;
}
.app__trigger {
  box-sizing: border-box;
  cursor: pointer;
}
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
.app__trigger.loading {
  animation: zoom 0.4s ease-in infinite alternate;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.app__text {
  box-sizing: border-box;
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  padding: 8px 12px;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 1px #d9d9d9;
  background-color: #fff;
  color: #343434;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.app__popup.show .app__text {
  animation: fade-in 0.3s;
}
.app__text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app__text li {
  margin-bottom: 6px;
  font-weight: bold;
}
.app__text .additional {
  color: #959595;
}
.app__external {
  margin-top: 6px;
  text-align: right;
}
.app__external a,
.app__external a:visited {
  color: #aaa;
}
